body {
  margin: 0%;
    color:#40514E;
        text-align: center;
        font-family:  'Merriweather', serif;      
}

.top-container {
    position:relative;
     padding: 0px auto 50px auto;
     background-color:#EAF6F6;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.top-cloud {
    position: absolute; 
    left: 300px;
    bottom: 320px;
}

.middle-container {
    
  margin: 50px auto;
    background-color: white;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 40px 0 20px;
}


.skill-row {
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}


/* text formatting */

p {
    line-height: 2;
}
 h1 {
    font-size: 5.5rem;
    margin: 0px auto 0px auto;
   padding-top: 50px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
 }

h2{
    margin-top: 0px;
    font-size: 2.5rem ;
    color: #40514E;
    font-weight: normal;
}


h3 {
    color:#11999E ;
}

hr{
  border: dotted  #40514E 6px;
  border-bottom: none;
  width: 7%;
  margin: 100px auto;

}
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
 }

 .pro {
    text-decoration: underline;
}
 .intro {
    width: 50%;
    margin:auto;
    padding-bottom: 50px;
 }

.contact-me-message {
    width: 50%;
    margin: auto;
    padding-bottom: 10px 20px;
   
    
}

a:hover
{color: #EAF6F6;}

a {
    color: #11999E;
    font-family:  'Merriweather', serif;   
    margin: 20px;
    text-decoration: none;
}


/* pictures formatting */

.btn {
    background: #1b9e9e;
    background-image: -webkit-linear-gradient(top, #1b9e9e, #2bafb8);
    background-image: -moz-linear-gradient(top, #1b9e9e, #2bafb8);
    background-image: -ms-linear-gradient(top, #1b9e9e, #2bafb8);
    background-image: -o-linear-gradient(top, #1b9e9e, #2bafb8);
    background-image: linear-gradient(to bottom, #1b9e9e, #2bafb8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family:  'Merriweather', serif; 
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #a1f26f;
    background-image: -webkit-linear-gradient(top, #a1f26f, #319e02);
    background-image: -moz-linear-gradient(top, #a1f26f, #319e02);
    background-image: -ms-linear-gradient(top, #a1f26f, #319e02);
    background-image: -o-linear-gradient(top, #a1f26f, #319e02);
    background-image: linear-gradient(to bottom, #a1f26f, #319e02);
    text-decoration: none;
  }
.cup
{
    width: 20%;
    float: left;
    margin-right: 30px;
}

.sun {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.mypic
{
    width: 30%;}

  